<div class="d-flex vh-100 animate__animated animate__fadeIn">
    <div ng-include="'shared/sidebar.html'"></div>

    <div class="content p-4 flex-grow-1 animate__animated animate__fadeInUp">
        <h1>Operations With OData</h1>

        <div class="d-flex justify-content-end mb-3 animate__animated animate__fadeInRight">
            <a href="#!/records/add" class="btn btn-success mx-1 animate-link" style="background-color: black; color: whitesmoke;">Add</a>
            <a href="#!/records/edit/{{selectedRecord.Id}}" class="btn btn-warning mx-1 animate-link" ng-disabled="!selectedRecord" style="background-color: black; color: whitesmoke;">Edit</a>
            <button class="btn btn-danger mx-1 animate-link" ng-click="deleteSelectedRecords()" ng-disabled="!selectedRecord" style="background-color: black; color: whitesmoke;">Delete</button>
        </div>

        <table class="table table-striped mt-4 animate__animated animate__fadeInUp">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Office</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records" ng-click="selectRecord(record)" ng-class="{ 'table-active': selectedRecord === record }">
                    <td><input type="checkbox" ng-model="record.selected"></td>
                    <td>{{ record.Id }}</td>
                    <td>{{ record.Name }}</td>
                    <td>{{ record.Location }}</td>
                    <td>{{ record.Office }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
